# Ignore everything by default
*

# Allow directories to be traversed
!*/

# Explicitly ignore images and data files
**/images/
*.csv
*.xlsx

# Allow specific files
!*.ipynb
!README.md
!**/documentation/
!**/documentation/**/*.md
!.gitignore