# Ignore everything by default
*

# Allow directories to be traversed
!*/

# Explicitly ignore images
images/
**/images/

# Allow specific files
!*.ipynb
!/README.md
!documentation/
!documentation/**/*.md